.about {
  color: white;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 3em;
  padding: 0 1em 0 1em;
  margin-top: 3em;
  margin-bottom: 1em;
}

.about-me {
  display: flex;
  justify-content: space-around;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 3em;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.picture {
  max-height: 300px;
  max-width: 350px;
  display: block;
  border-radius: 50%;
  box-shadow: 0px 1px 1px 8px #03dac6;
}

.story {
  color: #03dac6;
  width: 65%;
}

.story h2 {
  margin: 0;
  font-size: 2.5em;
}

strong {
  color: #03dac6;
}

.story p {
  line-height: 1.6;
  font-size: 1.2rem;
  color: hsl(267, 95%, 76%);
}

.download {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 10px;

  margin-top: 1rem;
  background-color: #03dac6;

  font-weight: bold;
  color: black;
  cursor: none;
  transition: ease-in-out all 300ms;
}

.download:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px #03dac6;
}

@media screen and (max-width: 420px) {
  .about-me {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
  }
  .picture {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px #2424247e;
    margin-bottom: 15px;
  }
  .story {
    color: #03dac6;
    width: 100%;
  }
}
