.cursor {
  position: fixed;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: aqua;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.3s, height 0.3s;
}

.cursor.grow {
  width: 3.5em;
  height: 3.5em;
  mix-blend-mode: difference;
  transition: width 0.3s, height 0.3s;
}
