.cursor {
  position: fixed;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: #03dac6;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.3s, height 0.3s;
}

.cursor.grow {
  width: 2.5rem;
  height: 2.5rem;
  mix-blend-mode: exclusion;
  transition: width 0.3s, height 0.3s;
}
