:root {
  --bg-color: #121212;
  --typewriterSpeed: 2.5s;
  --typewriterCharacters: 24;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  cursor: none;
}

h1 {
  margin: 10px;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  width: max-content;
  color: #03dac6;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: #bb86fc;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  // margin-top: 8px;
  padding-bottom: 1em;
  color: hsl(267, 95%, 76%);
  font-size: clamp(0.1rem, 1vw + 1rem, 4rem);
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
